<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manan.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AllSongsActivity"
            android:label="All Songs" />
        <activity
            android:name=".AlbumActivity"
            android:label="Album" />
        <activity
            android:name=".ArtistActivity"
            android:label="Artist" />
        <activity
            android:name=".FolderActivity"
            android:label="Folders" />
        <activity
            android:name=".RecentlyAddedActivity"
            android:label="Recently Added" />
        <activity
            android:name=".Playlist"
            android:label="Playlists" />
        <activity android:name=".NowplayingActivity"
            android:label="Now Playing"></activity>
    </application>

</manifest>